<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ilseon.teamtudy.groupmapper">
	<select id="getList" resultType="GroupVO">
		SELECT c.* 
		FROM (SELECT @RNUM := @RNUM + 1 AS rnum, a.* FROM (SELECT * FROM teamtudy.group ORDER BY groupNumber DESC) a,  
			 ( SELECT @RNUM := 0 ) b) c where c.rnum <![CDATA[>=]]> 1 and c.rnum <![CDATA[<=]]> 10
	</select>
	<select id="getOne" parameterType="int" resultType="GroupVO">
		SELECT * FROM group WHERE boardNumber=#{boardNumber}
	</select>
	<insert id="write" parameterType="GroupVO">
		INSERT INTO group(title, userNumber, regdate, content) VALUES(#{title}, 1, now(), #{content})
	</insert>
	<update id="edit" parameterType="GroupVO">
		UPDATE group SET title=#{title}, content=#{content} WHERE groupNumber=#{groupNumber}
	</update>
	<delete id="delete">
		DELETE FROM group WHERE boardNumber=#{groupNumber}
	</delete>	
</mapper>